.App-profile {
  width: 100%;
}
.profile_header {
  display: flex;
  align-items: center;
  background: #393939;
}
.profile_avatar {
  width: 200px;
  height: 200px;
  margin-right: 40px;
}
.profile_name {
  font-size: 30px;
}
.profile_status {
  font-size: 17px;
}
.profile_posts {
}
.profile_add_post {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile_add_post textarea{
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #f03e3e;
  resize: vertical;
  outline: none;
  padding: 10px;
}

.profile_add_post button {
  height: 30px;
  border-radius: 10px;
  background: #fff;
  color: #f03e3e;
  border: 1px solid #f03e3e;
  cursor: pointer;
}
.all_posts {
}
.post {
}
.post_avatar {
}
.post_name {
}
.post_text {
}