body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #393939;
  color: #fff;
}

.App {
  display: grid;
  grid-template-areas: 
    "header header" 
    "navBar profile";
  grid-template-columns: 3fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
  background: #282828;
}

.App-header {
 grid-area: header;
 border-bottom: #f03e3e 1px solid;
 height: 80px;
 padding: 10px;
}

.App-navBar {
  grid-area: navBar;
  border-right: #fff 1px solid;
  height: calc(100vh - 80px);
  padding: 10px;

}

.App-profile {
 grid-area: profile;
 padding: 10px;
}